In [2]:
# importing the important libraries
import pandas as pd 
import numpy as np
import os

In [8]:
# All files
file1 = r"https://raw.githubusercontent.com/Akashpandey1507/Analyse-Promotions-and-Provide-Tangible-Insights-to-Sales-Director/main/raw_datasets/dim_campaigns.csv"
file2 = r"https://raw.githubusercontent.com/Akashpandey1507/Analyse-Promotions-and-Provide-Tangible-Insights-to-Sales-Director/main/raw_datasets/dim_products.csv"
file3 = r"https://raw.githubusercontent.com/Akashpandey1507/Analyse-Promotions-and-Provide-Tangible-Insights-to-Sales-Director/main/raw_datasets/dim_stores.csv"
file4 = r"https://raw.githubusercontent.com/Akashpandey1507/Analyse-Promotions-and-Provide-Tangible-Insights-to-Sales-Director/main/raw_datasets/fact_events.csv"

In [10]:
dim_campaigns = pd.read_csv(file1)
dim_products = pd.read_csv(file2)
dim_stores = pd.read_csv(file3)
fact_events = pd.read_csv(file4)

In [11]:
dim_campaigns.columns

Index(['campaign_id', 'campaign_name', 'start_date', 'end_date'], dtype='object')

In [12]:
dim_products.columns

Index(['product_code', 'product_name', 'category'], dtype='object')

In [20]:
dim_stores.columns

Index(['store_id', 'city'], dtype='object')

In [14]:
fact_events.columns

Index(['event_id', 'store_id', 'campaign_id', 'product_code', 'base_price',
       'promo_type', 'quantity_sold(before_promo)',
       'quantity_sold(after_promo)'],
      dtype='object')

In [23]:
# Join the table "fact_events" and "dim_stores"
df1 = fact_events.merge(dim_stores, on="store_id")
df1.columns

Index(['event_id', 'store_id', 'campaign_id', 'product_code', 'base_price',
       'promo_type', 'quantity_sold(before_promo)',
       'quantity_sold(after_promo)', 'city'],
      dtype='object')

In [26]:
# Join the table "df1" and "dim_products"
df2 = df1.merge(dim_products, on="product_code")
df2.columns

Index(['event_id', 'store_id', 'campaign_id', 'product_code', 'base_price',
       'promo_type', 'quantity_sold(before_promo)',
       'quantity_sold(after_promo)', 'city', 'product_name', 'category'],
      dtype='object')

In [27]:
# Join the table "df2" and "dim_campaigns"
df3 = df2.merge(dim_campaigns, on="campaign_id")
df3.columns

Index(['event_id', 'store_id', 'campaign_id', 'product_code', 'base_price',
       'promo_type', 'quantity_sold(before_promo)',
       'quantity_sold(after_promo)', 'city', 'product_name', 'category',
       'campaign_name', 'start_date', 'end_date'],
      dtype='object')

In [28]:
# Create the merged file copy
df = df3.copy()
df.head()

,event_id,store_id,campaign_id,product_code,base_price,promo_type,quantity_sold(before_promo),quantity_sold(after_promo),city,product_name,category,campaign_name,start_date,end_date
0,7f650b,STCBE-2,CAMP_SAN_01,P11,190,50% OFF,34,52,Coimbatore,Atliq_Doodh_Kesar_Body_Lotion (200ML),Personal Care,Sankranti,10-01-2024,16-01-2024
1,5f2bb8,STBLR-8,CAMP_SAN_01,P11,190,50% OFF,45,62,Bengaluru,Atliq_Doodh_Kesar_Body_Lotion (200ML),Personal Care,Sankranti,10-01-2024,16-01-2024
2,6e5da9,STVJD-0,CAMP_SAN_01,P11,190,50% OFF,25,35,Vijayawada,Atliq_Doodh_Kesar_Body_Lotion (200ML),Personal Care,Sankranti,10-01-2024,16-01-2024
3,3181a7,STCBE-1,CAMP_SAN_01,P11,190,50% OFF,28,31,Coimbatore,Atliq_Doodh_Kesar_Body_Lotion (200ML),Personal Care,Sankranti,10-01-2024,16-01-2024
4,c22ead,STBLR-6,CAMP_SAN_01,P11,190,50% OFF,43,66,Bengaluru,Atliq_Doodh_Kesar_Body_Lotion (200ML),Personal Care,Sankranti,10-01-2024,16-01-2024

In [29]:
df.shape

(1500, 14)

In [30]:
df.columns

Index(['event_id', 'store_id', 'campaign_id', 'product_code', 'base_price',
       'promo_type', 'quantity_sold(before_promo)',
       'quantity_sold(after_promo)', 'city', 'product_name', 'category',
       'campaign_name', 'start_date', 'end_date'],
      dtype='object')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   event_id                     1500 non-null   object
 1   store_id                     1500 non-null   object
 2   campaign_id                  1500 non-null   object
 3   product_code                 1500 non-null   object
 4   base_price                   1500 non-null   int64
 5   promo_type                   1500 non-null   object
 6   quantity_sold(before_promo)  1500 non-null   int64
 7   quantity_sold(after_promo)   1500 non-null   int64
 8   city                         1500 non-null   object
 9   product_name                 1500 non-null   object
 10  category                     1500 non-null   object
 11  campaign_name                1500 non-null   object
 12  start_date                   1500 non-null   object
 13  end_date                     1500 non-null   object
dtypes: int64(3), object(11)
memory usage: 164.2+ KB

In [34]:
# Change the date columns data types
df["start_date"] = pd.to_datetime(df['start_date'])
df["end_date"] = pd.to_datetime(df['end_date'])

C:\Users\rg67266\AppData\Local\Temp\ipykernel_7072\3086893986.py:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["end_date"] = pd.to_datetime(df['end_date'])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   event_id                     1500 non-null   object
 1   store_id                     1500 non-null   object
 2   campaign_id                  1500 non-null   object
 3   product_code                 1500 non-null   object
 4   base_price                   1500 non-null   int64
 5   promo_type                   1500 non-null   object
 6   quantity_sold(before_promo)  1500 non-null   int64
 7   quantity_sold(after_promo)   1500 non-null   int64
 8   city                         1500 non-null   object
 9   product_name                 1500 non-null   object
 10  category                     1500 non-null   object
 11  campaign_name                1500 non-null   object
 12  start_date                   1500 non-null   datetime64[ns]
 13  end_date                     1500 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(9)
memory usage: 164.2+ KB

In [36]:
df.dtypes

event_id                               object
store_id                               object
campaign_id                            object
product_code                           object
base_price                              int64
promo_type                             object
quantity_sold(before_promo)             int64
quantity_sold(after_promo)              int64
city                                   object
product_name                           object
category                               object
campaign_name                          object
start_date                     datetime64[ns]
end_date                       datetime64[ns]
dtype: object

In [39]:
df['event_id'].nunique()
# there is no any duplicate values

1500

In [40]:
df.isnull().sum()

event_id                       0
store_id                       0
campaign_id                    0
product_code                   0
base_price                     0
promo_type                     0
quantity_sold(before_promo)    0
quantity_sold(after_promo)     0
city                           0
product_name                   0
category                       0
campaign_name                  0
start_date                     0
end_date                       0
dtype: int64

In [41]:
df

,event_id,store_id,campaign_id,product_code,base_price,promo_type,quantity_sold(before_promo),quantity_sold(after_promo),city,product_name,category,campaign_name,start_date,end_date
0,7f650b,STCBE-2,CAMP_SAN_01,P11,190,50% OFF,34,52,Coimbatore,Atliq_Doodh_Kesar_Body_Lotion (200ML),Personal Care,Sankranti,2024-10-01,2024-01-16
1,5f2bb8,STBLR-8,CAMP_SAN_01,P11,190,50% OFF,45,62,Bengaluru,Atliq_Doodh_Kesar_Body_Lotion (200ML),Personal Care,Sankranti,2024-10-01,2024-01-16
2,6e5da9,STVJD-0,CAMP_SAN_01,P11,190,50% OFF,25,35,Vijayawada,Atliq_Doodh_Kesar_Body_Lotion (200ML),Personal Care,Sankranti,2024-10-01,2024-01-16
3,3181a7,STCBE-1,CAMP_SAN_01,P11,190,50% OFF,28,31,Coimbatore,Atliq_Doodh_Kesar_Body_Lotion (200ML),Personal Care,Sankranti,2024-10-01,2024-01-16
4,c22ead,STBLR-6,CAMP_SAN_01,P11,190,50% OFF,43,66,Bengaluru,Atliq_Doodh_Kesar_Body_Lotion (200ML),Personal Care,Sankranti,2024-10-01,2024-01-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,f2d198,STTRV-1,CAMP_DIW_01,P03,156,25% OFF,166,157,Trivandrum,Atliq_Suflower_Oil (1L),Grocery & Staples,Diwali,2023-12-11,2023-11-18
1496,6c9451,STVSK-0,CAMP_DIW_01,P03,156,25% OFF,259,225,Visakhapatnam,Atliq_Suflower_Oil (1L),Grocery & Staples,Diwali,2023-12-11,2023-11-18
1497,32b8a7,STBLR-2,CAMP_DIW_01,P03,156,25% OFF,378,343,Bengaluru,Atliq_Suflower_Oil (1L),Grocery & Staples,Diwali,2023-12-11,2023-11-18
1498,d60641,STHYD-0,CAMP_DIW_01,P03,156,25% OFF,351,305,Hyderabad,Atliq_Suflower_Oil (1L),Grocery & Staples,Diwali,2023-12-11,2023-11-18
1499,1a1edd,STBLR-7,CAMP_DIW_01,P03,156,25% OFF,343,301,Bengaluru,Atliq_Suflower_Oil (1L),Grocery & Staples,Diwali,2023-12-11,2023-11-18